$gray-base:              #000 !default;
$gray-darker:            #333 !default;
$gray-dark:              #555 !default;
$gray-medium:            #666 !default;
$gray:                   #777 !default;
$gray-hard:              #ccc !default;  
$gray-light:             #f0f0f0 !default;
$gray-lighter:           #fafafa !default;
$gray-lightest:          #e7e7e7 !default;
$red:                    #f52863 !default;
$blue:                   #06c !default;
$body-bg: #fff !default;
$brand-primary-dark:#b22d00 !default;
$brand-primary:  #d93600 !default;
$brand-primary-light : #f08300 !default;
$content-bg: #f6f6f3 !default;
$text-color: $gray-dark !default;
$btn-bg:       #ba7538 !default;
$link-color: #696969 !default;
$link-hover-color: #d93600 !default;
$price-color: #d50000 !default;

$font-size-base:          15px !default;
$font-size-large:         18px !default; 
$font-size-small:         12px !default; 
$font-size-none:          0px !default;
$font-size-h3:            23px !default; 

$line-height-bace:         30px !default;
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-color:          inherit !default;