body, h1, h2, h3, h4, h5, h6, p, img,
a, input, ul, ol, dl, li, dt, dd {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  border: 0;
}

body {
  font-size: 12px;
  color: #555;
  font-family: "microsoft yahei";
}

a {
  text-decoration: none;
  color: #696969;
}
a:hover {
  color: #d93600;
}

.l {
  float: left;
}
.l:before, .l:after {
  content: " ";
  display: table;
}
.l:after {
  clear: both;
}

.r {
  float: right;
}
.r:before, .r:after {
  content: " ";
  display: table;
}
.r:after {
  clear: both;
}

.w {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.hover {
  background-color: #f30 !important;
}

* {
  cursor: url(../img/board/cd_glowsword.cur), auto !important;
}

a:hover {
  cursor: url(../img/board/cd_glaive.cur), auto !important;
}

.title {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  background-color: #fafafa;
}
.title .ads {
  width: 100%;
  height: 70px;
  background-image: url("../img/board/ads-top.png");
  cursor: pointer;
}
.title .title-content {
  width: 100%;
  height: 30px;
}
.title .title-content:before, .title .title-content:after {
  content: " ";
  display: table;
}
.title .title-content:after {
  clear: both;
}
.title .title-content .title-left {
  float: left;
  line-height: 30px;
}

.title-left span {
  color: #f52863;
}

.user-btn2 {
  display: none;
}

.title-right {
  width: 400px;
  height: 100%;
}
.title-right:before, .title-right:after {
  content: " ";
  display: table;
}
.title-right:after {
  clear: both;
}
.title-right .title-right-pages {
  float: left;
  width: 80px;
  height: 100%;
  box-sizing: border-box;
  line-height: 30px;
}
.title-right .title-right-pages .title-right-content {
  visibility: hidden;
  border: 1px solid #f0f0f0;
  border-top: 1px solid #fff;
  width: 100%;
  background-color: #fff;
  position: relative;
  left: -1px;
}

.title-right-pages a {
  padding-left: 13px;
  display: block;
  width: 67px;
}
.title-right-pages a span {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-left: 5px;
}
.title-right-pages:hover {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-bottom: 0px;
  line-height: 28px;
}
.title-right-pages:hover a {
  padding-left: 12px;
}
.title-right-pages:hover .title-right-content {
  visibility: visible;
}

.title-right-content li:hover {
  background-color: #f0f0f0;
}

.logo-box {
  background-color: #fff;
  height: 110px;
  padding-top: 26px;
  box-sizing: border-box;
}
.logo-box .logo {
  margin-left: 52px;
  float: left;
  margin-right: 112px;
}

.searchform {
  width: 500px;
}
.searchform input {
  float: left;
  outline: 0px;
  border: 0px;
  box-sizing: border-box;
}
.searchform #txt {
  border: 2px solid #d93600;
  width: 415px;
  height: 40px;
  box-sizing: border-box;
  font-size: 12px;
  color: #777;
  line-height: 40px;
  padding-left: 10px;
  background: url(../img/board/voice.png) no-repeat 395px center;
}
.searchform #submit-btn {
  width: 85px;
  height: 40px;
  background-color: #d93600;
  color: #fff;
  box-sizing: border-box;
  font-size: 15px;
}
.searchform ul {
  width: 100%;
  height: 20px;
  float: left;
}

.searchUl {
  overflow: hidden;
}
.searchUl li {
  float: left;
  margin-right: 5px;
  line-height: 12px;
}
.searchUl li a {
  margin-right: 9px;
  display: block;
  width: 100%;
  height: 12px;
  margin-top: 4px;
}
.searchUl li:last-child a {
  border-right: 0px;
}

.logo-right {
  width: 212px;
  height: 83px;
  float: right;
}
.logo-right .shopcar {
  background: url(../img/board/shopcar.png) no-repeat center;
  width: 128px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  float: left;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}
.logo-right .shopcar span {
  display: block;
  position: absolute;
  line-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f52863;
  color: white;
  left: 25px;
  top: -8px;
}
.logo-right img {
  float: left;
}

.shopcar:hover a {
  color: #d93600;
}

.navbar {
  background-color: #fff;
  border-bottom: 2px solid #d93600;
  height: 40px;
}
.navbar:before, .navbar:after {
  content: " ";
  display: table;
}
.navbar:after {
  clear: both;
}
.navbar li {
  height: 100%;
  float: left;
}
.navbar li a {
  padding: 0px 40px;
  display: block;
  height: 100%;
  line-height: 40px;
  font-size: 15px;
}
.navbar .nav-first {
  width: 212px;
  box-sizing: border-box;
  border-left: 1px solid #b22d00;
  border-right: 1px solid #b22d00;
  padding: 10px;
  background-color: #d93600;
}
.navbar .nav-first a {
  float: left;
  padding: 0px;
  font-weight: bold;
  color: #fff;
  margin-left: 4px;
  height: 20px;
  line-height: 20px;
  display: inline;
}
.navbar .nav-first span:first-child {
  margin: 0;
  border: none;
  float: left;
  display: block;
  width: 30px;
  height: 10px;
  margin: 5px 0px 0px 5px;
  background: url(../img/board/classical.png);
  background-repeat: no-repeat;
}
.navbar .nav-first span:last-child {
  font-size: 0px;
  line-height: 40px;
  width: 0px;
  height: 0px;
  float: right;
  margin: 10px 5px 0 0;
  border-width: 5px;
  border-color: #fff transparent transparent transparent;
  border-style: solid dashed dashed dashed;
}

.bottom {
  width: 100%;
  height: 264px;
  background-color: #fafafa;
  box-sizing: border-box;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.bottom:before, .bottom:after {
  content: " ";
  display: table;
}
.bottom:after {
  clear: both;
}
.bottom .bottom-ul {
  width: 162px;
  margin-left: 2px;
  margin-right: 16px;
  margin-top: 6px;
}
.bottom .bottom-overcome {
  float: left;
  width: 271px;
  height: 230px;
  margin-left: 55px;
  border-left: 1px solid #e7e7e7;
  background-color: #fff;
}
.bottom .bottom-overcome dl {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.bottom .bottom-overcome dt {
  font: 16px/20px "microsoft yahei";
  color: #666;
  padding: 10px 5px;
  margin: 5px 0;
  border-bottom: solid 1px #E6E6E6;
}
.bottom .bottom-overcome dd {
  font: 12px/20px "microsoft yahei";
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  clear: both;
  padding: 2px 5px;
  overflow: hidden;
}
.bottom .bottom-overcome .tel {
  line-height: 25px;
  background: url(../img/board/tel.png) no-repeat scroll 0 5px;
  color: #ff8a00;
  font-size: 22px;
}
.bottom .bottom-QRcode {
  width: 137px;
  float: left;
  margin-top: 5px;
  padding-left: 15px;
  background: #ffffff;
  height: 230px;
  border-left: 1px solid #eeeeee;
}
.bottom .bottom-QRcode .bottom-dl {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.bottom .bottom-QRcode dt {
  color: #666;
  padding: 10px 5px;
  margin: 5px 0;
  border-bottom: solid 1px #E6E6E6;
}
.bottom .bottom-QRcode img {
  display: inline-block;
}

.bottom-ul {
  float: left;
}
.bottom-ul p {
  box-sizing: border-box;
  border-bottom: 1px solid #e7e7e7;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin-bottom: 4px;
  color: #666;
}
.bottom-ul li {
  padding-left: 17px;
  box-sizing: border-box;
  background: url(../img/board/dot1.png) no-repeat 5px 13px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

.friendly-link {
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
  line-height: 30px;
  text-align: center;
}
.friendly-link a {
  margin-right: 5px;
}

.foot {
  text-align: center;
  padding-bottom: 10px;
  overflow: hidden;
  height: 102px;
  margin: 8px auto 4px;
}
.foot p {
  line-height: 16px;
  height: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.foot p span {
  width: 131px;
  height: 46px;
  display: inline-block;
  background: url(../img/board/honest.png);
  cursor: pointer;
}
.foot p .honest-id {
  background-position-x: 0px;
}
.foot p .honest-web {
  background-position-x: -135px;
}

.content {
  height: 411px;
  background: url(../img/login/login-bg.png) no-repeat left top;
}
.content form {
  width: 402px;
  height: 343px;
  float: left;
  margin-left: 625px;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #f0f0f0;
}
.content form .form-title {
  width: 100%;
  box-sizing: border-box;
  height: 49px;
  line-height: 49px;
  padding-left: 25px;
  font-size: 17px;
  font-weight: bold;
}
.content form label {
  display: block;
  height: 44px;
  box-sizing: border-box;
  padding-left: 55px;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-right: 60px;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
}
.content form label:before, .content form label:after {
  content: " ";
  display: table;
}
.content form label:after {
  clear: both;
}
.content form .auto {
  float: left;
  height: 34px;
  padding-left: 110px;
  margin: 0px;
  font-size: 12px;
  line-height: 34px;
}
.content form input {
  outline: 0px;
  line-height: 28px;
  box-sizing: border-box;
}
.content form #txt, .content form #psw {
  float: right;
  width: 228px;
  height: 100%;
}
.content form #txt1 {
  width: 100px;
  float: left;
  height: 100%;
}

#judge {
  padding-right: 20px;
  float: left;
}
#judge p {
  float: left;
  width: 55px;
  height: 100%;
}

#judge-code {
  float: left;
  height: 28px;
  margin-top: 5px;
  width: 100px;
  box-sizing: border-box;
  background: greenyellow;
  text-align: center;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 16px;
  cursor: pointer;
}

#btn-login {
  float: left;
  width: 100px;
  height: 32px;
  margin-left: 110px;
  border: 0px;
  background: #f08300;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 2px 1px #d93600;
}

.forget {
  float: left;
  height: 33px;
  line-height: 33px;
  margin-left: 10px;
  color: #06c;
  font-weight: bold;
}
.forget:hover {
  color: #d93600;
}

.sign-in {
  float: left;
  height: 34px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 110px;
  line-height: 34px;
  border-bottom: 1px dashed #ccc;
}
.sign-in:before, .sign-in:after {
  content: " ";
  display: table;
}
.sign-in:after {
  clear: both;
}
.sign-in #sign-in {
  width: 50px;
  height: 26px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.sign-in #sign-in:hover {
  background-color: #f08300;
  color: #fff;
}

.other-title {
  float: left;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 60px;
  line-height: 48px;
}
.other-title:before, .other-title:after {
  content: " ";
  display: table;
}
.other-title:after {
  clear: both;
}
.other-title a {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  background: url(../img/login/others-bg.png) no-repeat;
  background-position-y: 0px;
}
.other-title a:hover {
  background-position-y: -28px;
}
.other-title .tencent {
  width: 78px;
  height: 28px;
  background-position-x: 0px;
}
.other-title .sina {
  width: 88px;
  height: 28px;
  background-position-x: -81px;
}
.other-title .alipay {
  width: 80px;
  height: 28px;
  background-position-x: -172px;
}

/*# sourceMappingURL=login-main.css.map */
